<div class="well">
  {{#link-to 'question' question.id}}{{question.problem}} | {{question.author}}{{/link-to}}
  <br>
  {{#if isNotesShowing}}
    <p>{{question.notes}}</p>
    <button {{action 'notesHide'}} class="btn">Hide Notes</button>
  {{else}}
    <button {{action 'notesShow'}} class="btn">See Notes</button>
  {{/if}}
</div>
