<h2> Question Details </h2>

<h5>Question: {{question.problem}}</h5>
<p>
  Notes: {{question.notes}}
</p>
<p>
  by {{question.author}}
</p>


<button {{action 'delete' question}} class="btn">Delete</button>

<h3> Answers </h3>
<ul>
  {{#each question.answers as |answer|}}
  {{answer-tile answer=answer}}
  {{/each}}
</ul>
